# Data Wrangling

## SQLLite Database example
In this example we will learn how to create a database table by creatinga dn inserting  data into a SQL Lite database.
Create a table wirth columns "Name, Address, City, State, Zip, Phone Number"
Add at least 10 rows of data and submit your code with a query generating your results.

In [3]:
import sqlite3

In [12]:
# Create a table user_info, if already present then drop and create
query = "DROP table user_info"
# Create a connection object to sqllite
con = sqlite3.connect("mydata.sqlite")
con.execute(query)
con.commit()
# Prepare a query
query = """CREATE TABLE user_info(Name VARCHAR(50), Address VARCHAR(100), City VARCHAR(30), State VARCHAR(30), Zip INTEGER, Phone INTEGER);"""

In [14]:
# Create a connection object to sqllite
con = sqlite3.connect("mydata.sqlite")

In [16]:
con.execute(query)

In [18]:
# Prepare data

In [20]:
data = [("John", "Test address1", "Atlanta", "Georgia", 23560, 111222333),
        ("Adam", "Test address2", "Dallas", "Texas", 75020, 111222300),
        ("Daniel", "Test address3", "Austin", "Texas", 65790, 111222500),
        ("Woody", "Test address4", "Houston" ,"Texas", 55600, 111222400),
        ("Armando", "Test address5", "Plano", "Texas", 75034, 111222320),
        ("Ashish", "Test address6", "McKinney", "Texas", 75070, 111222600),
        ("Dave", "Test address7", "Waco", "Texas", 75032, 111222700),
        ("Santiago", "Test address8", "Arlington", "Texas", 75037, 111222800),
        ("Ram", "Test address9", "Louisville", "Texas", 75010, 111222900),
        ("Joe", "Test address10", "Prosper", "Texas", 75023, 111222100)
       ]

In [22]:
# Insert data into table
stmt = "INSERT INTO user_info VALUES(?,?,?,?,?,?)"

In [24]:
con.executemany(stmt, data)

In [26]:
# Commit data
con.commit()

In [28]:
# select * from the table user_info
cursor = con.execute("SELECT * FROM user_info")

In [30]:
# collect all the data
rows = cursor.fetchall()

In [32]:
# print rows
rows

[('John', 'Test address1', 'Atlanta', 'Georgia', 23560, 111222333),
 ('Adam', 'Test address2', 'Dallas', 'Texas', 75020, 111222300),
 ('Daniel', 'Test address3', 'Austin', 'Texas', 65790, 111222500),
 ('Woody', 'Test address4', 'Houston', 'Texas', 55600, 111222400),
 ('Armando', 'Test address5', 'Plano', 'Texas', 75034, 111222320),
 ('Ashish', 'Test address6', 'McKinney', 'Texas', 75070, 111222600),
 ('Dave', 'Test address7', 'Waco', 'Texas', 75032, 111222700),
 ('Santiago', 'Test address8', 'Arlington', 'Texas', 75037, 111222800),
 ('Ram', 'Test address9', 'Louisville', 'Texas', 75010, 111222900),
 ('Joe', 'Test address10', 'Prosper', 'Texas', 75023, 111222100)]