# Data Wrangling

## Reading tabular data from a web page and creating dataframes

The ability to read and understand web pages is of paramount ointerest to a person. In this example, we are learning how to download and read a web page.Python has very mature and stable library called "BeautifulSoup" for getting data from HTML and XML documents.It gives normalized and idiomatic way of navigating and querying document. 

### DataSource: from https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)

In [3]:
#Read the page using bs4

In [4]:
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
# Open the wikipedia file
fd = open("datasets/List of countries by GDP (nominal) - Wikipedia.htm", "r", encoding = "utf-8")
soup = BeautifulSoup(fd)
fd.close()

In [6]:
# Calculate the tables by using the command
all_tables = soup.find_all("table")
print("Total number of tables are {} ".format(len(all_tables)))

Total number of tables are 9

In [7]:
# Find the right table using the class attribute by using the follwing command
data_table = soup.find("table", {"class": '"wikitable"|}'})
print(type(data_table))

<class 'bs4.element.Tag'>

In [8]:
# Seperate the source and the actual data by using the following command
sources = data_table.tbody.findAll('tr', recursive=False)[0]
sources_list = [td for td in sources.findAll('td')]
print(len(sources_list))

3

In [9]:
# Use the findAll function to find the data from the body tag of data_table
data = data_table.tbody.findAll('tr', recursive=False)[1].findAll('td', recursive=False)

In [10]:
# Use the finaAll function to find the data from the data_table td tag by using the command
data_tables = []
for td in data:
    data_tables.append(td.findAll('table'))

In [11]:
# Find the length of data_tables by using the follwing command
len(data_tables)

3

In [12]:
# Check how to get the source names by using the follwing command
source_names = [source.findAll('a')[0].getText() for source in sources_list]
print(source_names)

['International Monetary Fund', 'World Bank', 'United Nations']

In [13]:
# Seperate the header and data for the first source
header1 = [th.getText().strip() for th in data_tables[0][0].findAll('thead')[0].findAll('th')]
header1

['Rank', 'Country', 'GDP(US$MM)']

In [14]:
#  Find the rows from data_tables using findAll
rows1 = data_tables[0][0].findAll('tbody')[0].findAll('tr')

In [15]:
# Find the data from rows1 using the strip function for each td tag
data_rows1 = [[td.get_text().strip() for td in tr.findAll('td')] for tr in rows1]

In [16]:
# Find the DataFrame
df1 = pd.DataFrame(data_rows1, columns=header1)
df1.head()

  Rank        Country  GDP(US$MM)
0           World[19]  79,865,481
1    1  United States  19,390,600
2    2     China[n 1]  12,014,610
3    3          Japan   4,872,135
4    4        Germany   3,684,816

In [17]:
# Do the same for the other two sources
header2 = [th.getText().strip() for th in data_tables[1][0].findAll('thead')[0].findAll('th')]
header2

['Rank', 'Country', 'GDP(US$MM)']

In [18]:
# Find the rows from data_tables using findAll
rows2 = data_tables[1][0].findAll('tbody')[0].findAll('tr')

In [19]:
# Define find_right_text using strip function
def find_right_text(i, td):
    if i == 0:
        return td.getText().strip()
    elif i == 1:
        return td.getText().strip()
    else:
        index = td.text.find("â™ ")
        return td.text[index+1:].strip()

In [20]:
# Find the rows from data_rows using find_right_text
data_rows2 = [[find_right_text(i, td) for i, td in enumerate(tr.findAll('td'))] for tr in rows2]

In [21]:
# Calculate the df2 DataFrame
df2 = pd.DataFrame(data_rows2, columns=header2)
df2.head()

  Rank             Country  GDP(US$MM)
0                    World  80,683,787
1    1       United States  19,390,604
2       European Union[23]  17,277,698
3    2          China[n 4]  12,237,700
4    3               Japan   4,872,137

In [22]:
# Perform the same operations for the third dataframe 
header3 = [th.getText().strip() for th in data_tables[2][0].findAll('thead')[0].findAll('th')]
header3

['Rank', 'Country', 'GDP(US$MM)']

In [23]:
# Find the rows from data_tables using findAll
rows3 = data_tables[2][0].findAll('tbody')[0].findAll('tr')

In [24]:
# Find the rows from data_rows3 by using find_right_text
data_rows3 = [[find_right_text(i, td) for i, td in enumerate(tr.findAll('td'))] for tr in rows2]

In [25]:
# Calculate the df3 DataFrame 
df3 = pd.DataFrame(data_rows3, columns=header3)
df3.head()

  Rank             Country  GDP(US$MM)
0                    World  80,683,787
1    1       United States  19,390,604
2       European Union[23]  17,277,698
3    2          China[n 4]  12,237,700
4    3               Japan   4,872,137